@import url('../Css/styles-android.css');

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #EDD1AE;
    padding: 50px;
    opacity: 97%;
}
.title-one{
    align-items: center;
    margin-top: 44px;
       
}
.container-center{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 16px;
}
.container {
    background-color: #e2dede;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    text-align: left;
    width: 60%;
    align-items: center;
   
   
}
.question {
    display: none;
    margin-left: 20px;
    border: none;
}
.resultado{
    border-radius: 2px;
}
.question.active {
    display: block;
}
.question h2, .question p {
    text-align: center;
}
.container-box{
    background-color: #ffffff;
    
}
.container-center{
    margin-left: 10px;
}
.perguntas{
    margin-left: 40px;
}
.btn{
    margin-left: 40px;
}

@media ( min-width: 390px) and (max-width:450px){

    .title-one{
        align-items: center;
    }
    .container {
        
        background-color: #e2dede;
        padding: 30px;
        border-radius: 10px;
        display: inline-block;
        text-align: left;
        
        align-items: center;
       
    }
    .question {
        
        display: none;
        margin-left: 13px;
        border: 3px;
    }
    .resultado{
        border-radius: 8px;
    }
    .question.active {
        display: block;
        align-items: center;
    }
    .question h2, .question p {
        text-align: center;
    }
    .container-box{
        background-color: #ffffff;
        
        
    }
    .container-center{
        margin-left: -44px;
        width: 380px;
    }
    .perguntas{
        margin-left: 10px;
    }
    .btn{
        margin-left: 20px;
    }
}

@media ( min-width: 420px) and (max-width:490px){

    .title-one{
        align-items: center;
    }
    .container {
        
        background-color: #e2dede;
        padding: 30px;
        border-radius: 10px;
        display: inline-block;
        text-align: left;
        
        align-items: center;
       
    }
    .question {
        
        display: none;
        margin-left: 8px;
        border: 3px;
    }
    .resultado{
        border-radius: 8px;
    }
    .question.active {
        display: block;
        align-items: center;
    }
    .question h2, .question p {
        text-align: center;
    }
    .container-box{
        background-color: #ffffff;
        
        
    }
    .container-center{
        margin-left: -44px;
        width: 420px;
    }
    .perguntas{
        margin-left: 10px;
    }
    .btn{
        margin-left: 20px;
    }
}   
