@import url("Css/mobile.css");

:root { 
    --Cor-de-fundo: #fff;
    --tamanho-da-letra: 18px;
    --tamanho-da-letra-smartphone: 16px;
    --fonte-da-letras: "Roboto","Ogg", serif;
    --tamanho-de-titulo: 45px;
    --cor-do-footer: black;
    --color-light: #e9d8a6;
    --color-primary: #ff4c24;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   align-items: center;
    background-color: #C3AE9A;
    color: #0e0d0d;
    font-family: var(--fonte-da-letras);
}


.apresentacao {
   align-items: center;
    
}

.apresentacao__conteudo {
    margin: 10%;
    max-width: 600px;
    margin-top: 300px;

    .apresentacao__titulo {
        font-family: "Inter", Sans-serif;
        font-size: 31px;
        font-weight: 600;
        line-height: 1.22em;
        letter-spacing: -0.94px;
        
    }
    
    #btn {
        color: white;
    }
    
    #bnt-letra {
        color: black;
        font-size: 20px;
    }
    
    .img-guta {
    
        width: 350px;
        border-radius: 8px;
        border: 3px solid #321912;
        margin-left: 610px;
        margin-top: -410px;
    }
}



.mensagem {

   height: 500px;
   background-color: white;
   align-items: center;
    text-align: center;

    #h2 {
        padding: 7%;
        font-size: 48px;
        margin: 12%;
       
    }
    
    .text {
        font-family: "Bangers", serif;
        font-size: 38px;
        font-weight: 800;
    }

    #linha{
        width: 200px;
        align-items: center;
        margin-left: 600px;
        margin-top: -260px;
        height: 8px;
        
    }

    .text_animado{
        padding: 5%;
    }

}

#titulo_teste{
    margin: 5%;
    margin-left: 510px;
    font-family: "Bangers", serif;
    font-size: 46;
    
}

.container {
    
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    
    

    .card {
        width: 300px;
        background-color: #fff;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
        margin-left: -20px;
    }
    
    .card:hover {
        transform: scale(1.05);
    }
    
    .card-content {
        padding: 21px;
    }
    
    .title {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 10px;
        align-items: center;
        padding: 7%;
    }
    
    .description {
        font-size: 0.9rem;
        margin-bottom: 20px;
    }
    
    .cta {
        display: space-around;
        text-decoration: none;
        color: white;
        padding: 10px;
        font-weight: bold;
        text-align: center;
        border-top: 2px solid black;
        
    }
    
    .card.agencia { background-color: #f1f1f1; }
    .card.bodyshop { background-color: #f5f5f5; }
    .card.plataforma { background-color: #fff2cc; }
    
    .cta.agencia { background-color: black; color: #ffffff; }
    .cta.bodyshop { background-color: black; color: #ffffff; }
    .cta.plataforma { background-color: black; color: #ffcc00; }
}
.card-section3{

   padding: 18%;

   #text3{
   margin-left: 180px;
   padding: -8%;
}
 .text-zap{
    margin-left: -250px;
    margin-top: 100px;
    
 }
}
.roda__pe {
    background-color: var(--cor-do-footer);
    color: var(--color-light);
    text-align: center;
    padding: 1em;
    
}

@media (min-width:320px) and (max-width:500px){
    
     
     .apresentacao {
        align-items: center;
        
        margin-top: -260px;
     }
     
     .apresentacao__conteudo {
     
         .apresentacao__titulo {
             font-family: "Inter", Sans-serif;
             font-size: 36px;
             font-weight: 50px;
             margin-top: -580px;
             color: #fff;
         }
         .apresentacao__subtitulo{
            color: #fff;
         }
         
         #btn {
             color: white;
             width: 190px;
         }
         
         #bnt-letra {
             color: black;
             font-size: 16px;
             
         }
         
         .img-guta {
         
             width: 355PX;
             height: 660PX;
             border-radius: 8px;
             border: 3px solid #321912;
             margin-left: -10px;
             margin-top: 0px;
             
             
         }
     }
     
     
     
     .mensagem {
     
        height: 520px;
        width: 400px;
        background-color: white;
        align-items: center;
         text-align: center;
         margin-top: 480px;
     
         #h2 {
             
             font-size: 26px;
             
            
         }
         
         .text {
             font-family: "Bangers", serif;
             font-size: 28px;
             font-weight: 800;
             margin-top: 130px;
         }
     
         #linha{
             width: 200px;
             align-items: center;
             margin-left: 88px;
             margin-top: -70px;
             height: 8px;
             
         }
     
         .text_animado{
             padding: 5%;
         }
     
     }
     
     #titulo_teste{
         
         margin-left: 100px;
         font-family: "Bangers", serif;
         font-size: 26;
         
         
     }
     
     .container {
         
         margin-top: 80px;
         display: flex;
         justify-content: space-around;
         gap: 40px;
         flex-wrap: wrap;
        
         
         
     
         .card {
             width: 300px;
             background-color: #fff;
             border-radius: 10px;
             overflow: hidden;
             box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
             transition: transform 0.3s ease-in-out;
             margin-left: 14px;
         }
         
         .card:hover {
             transform: scale(1.05);
         }
         
         .card-content {
             padding: 21px;
         }
         
         .title {
             font-size: 1.2rem;
             font-weight: bold;
             margin-bottom: 10px;
             align-items: center;
             padding: 7%;
             margin-left: 70px;
         }
         
         .description {
             font-size: 0.9rem;
             margin-bottom: 20px;
         }
         
         .cta {
             display: space-around;
             text-decoration: none;
             color: white;
             padding: 10px;
             font-weight: bold;
             text-align: center;
             border-top: 2px solid black;
             
             
         }
         
         .card.agencia { background-color: #f1f1f1; }
         .card.bodyshop { background-color: #f5f5f5; }
         .card.plataforma { background-color: #fff2cc; }
         
         .cta.agencia { background-color: black; color: #ffffff; }
         .cta.bodyshop { background-color: black; color: #ffffff; }
         .cta.plataforma { background-color: black; color: #ffcc00; }
     }
     .card-section3{
     
        padding: 18%;
     
        #text3{
        margin-left: 0px;
        padding: 1%;
        font-size: 18px;
     }
      .text-zap{
         margin-left: -10px;
         margin-top: 100px;
         font-size: 8px;
         
      }
      #img-whatsapp{
        width: 70px;
        margin-left: 190px;
        margin-top: -80px;
      }
     }
     .roda__pe {
         background-color: var(--cor-do-footer);
         color: var(--color-light);
         text-align: center;
         padding: 1em;
         width: 400px;
         
     }
     
    }
